#!/bin/sh

alias ll='ls -lsh --color=auto'
alias la='ls -lash --color=auto'
alias lt='ls -lahtr --color=auto'
alias l="ls -lah --color=auto"
alias vizsh="vim ~/.zshrc"
alias c="pbcopy"
alias p="pbpaste"
alias history="history 0"
alias ..="cd .."
alias ...="cd ../.."
alias pass='echo -n Password:\  && read -s password && echo $password | pbcopy'

# Git Aliases
alias gs='git status'
alias ga='git add'
alias gp='git push'
alias gpo='git push origin'
alias gtd='git tag --delete'
alias gtdr='git tag --delete origin'
alias gplo='git pull origin'
alias gpl='git pull'
alias gb='git branch '
alias gc='git commit'
alias gd='git diff'
alias gds='git diff --staged'
alias gco='git checkout '
alias gl='git log'
alias gr='git reset'
alias grs='git reset --staged'
alias glo='git log --pretty="oneline"'
alias glol='git log --graph --oneline --decorate'
alias gsw='git switch'
alias gsh='git stash'
alias lg='lazygit'

alias nvconfig="cd ~/.config/nvim && /opt/homebrew/bin/nvim"

# dns toys
alias dy="dig +short @dns.toys"

# kubernetes aliases
alias k='kubectl'
alias kx='kubectx'
alias kns='kubens'
alias netshoot='kubectl run tmp-shell --rm -i --tty --image nicolaka/netshoot -- /bin/bash'

# terraform aliases
#alias terraform='load_envs; terraform'

# awk aliases
alias trim="awk '{ gsub(/^[ \s]+|[ \s]+$/, \"\"); print }'"  
alias ngclean="pbpaste | awk -v ORS=, 'NR % 2' | sed s:,$:: | sed s:,:,\ :g"

# triton cli aliases
alias t='triton $ACT_AS'
alias tp='triton -p parler-us-central-1a --act-as parler'

alias trc='triton profile get | grep -e 'name:' | sed -e "s/name:\ //"'
alias tlc='triton profile ls -oname,curr'
function tca() {
    export ACT_AS="--act-as=$1"
    echo "ACT_AS set to $1"
}
alias tcc='export ACT_AS="";  triton profile set "$(triton profile ls -Honame | fzf --tac --no-sort -e )"'
alias tsh='triton $ACT_AS ssh $(triton $ACT_AS inst list -Ho name | fzf --tac --no-sort -e)'
